For information about GNU Emacs and the GNU system, type C-h C-a.
Use M-x make-directory RET RET to create the directory and its parents
Mark set
Auto-saving...
Auto-saving .ignore: Opening output file: No such file or directory, /repos/PlateRecog/PlateRecog/src/#.ignore#
Mark set
byte-code: Beginning of buffer [6 times]
byte-code: End of buffer [2 times]
Undo!
byte-code: Beginning of buffer [6 times]
Auto-saving...
Auto-saving .ignore: Opening output file: No such file or directory, /repos/PlateRecog/PlateRecog/src/#.ignore#
Mark set
byte-code: Beginning of buffer [9 times]
Mark set
byte-code: Beginning of buffer [9 times]
Mark set [3 times]
Auto-saving...
Auto-saving .ignore: Opening output file: No such file or directory, /repos/PlateRecog/PlateRecog/src/#.ignore#
byte-code: End of buffer
byte-code: Beginning of buffer
Auto-saving...
Auto-saving .ignore: Opening output file: No such file or directory, /repos/PlateRecog/PlateRecog/src/#.ignore#
byte-code: Beginning of buffer [5 times]
Auto-saving...
Auto-saving .ignore: Opening output file: No such file or directory, /repos/PlateRecog/PlateRecog/src/#.ignore#
Auto-saving...
Auto-saving .ignore: Opening output file: No such file or directory, /repos/PlateRecog/PlateRecog/src/#.ignore#
Auto-saving...
Auto-saving .ignore: Opening output file: No such file or directory, /repos/PlateRecog/PlateRecog/src/#.ignore#
Mark set
Auto-saving...
Auto-saving .ignore: Opening output file: No such file or directory, /repos/PlateRecog/PlateRecog/src/#.ignore#
byte-code: End of buffer
Saving file /repos/PlateRecog/PlateRecog/src/.ignore...
basic-save-buffer-2: /Users/marcosarturgoncalvessilva/repos/PlateRecog/PlateRecog/src/: no such directory